/**
 * Icon Primitive Styles
 *
 * Animation utilities for icon components
 */

// Spinning animation for loader/spinner icons
@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  animation: icon-spin 1s linear infinite;
}
