/**
 * Icon Primitive Styles
 *
 * Animation utilities for icon components
 */

// Spinning animation for loader/spinner icons
@keyframes icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  animation: icon-spin 1s linear infinite;
}

// Remove focus outline on clickable icons (SVG elements with cursor: pointer)
svg[style*='cursor: pointer'],
svg[style*='cursor:pointer'] {
  outline: none;

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

