.attachment-drop {
  border: 3px dashed var(--accent-100);
  font-size: 18px;
  text-align: center;
  border-radius: 1000px;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--accent);

  .attachment-drop-icon {
    font-size: 32px;
  }
}

.attachment-drop:hover {
  background-color: var(--accent-400);
  color: white;
}

.attachment-drop::after {
  width: 24px;
  height: 24px;
  background: var(--color-bg-icon);
  color: var(--accent);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 0.75rem;
  position: absolute;
  font-weight: 100;
  font-size: 12pt;
  margin-top: -80px;
  margin-left: 60px;
}
