@import '../../styles/modal_common.css';

.modal-join-space {
  @extend .modal-body;
}

.modal-join-space-icon {
  @extend .modal-icon-section;
}

.modal-join-space-actions {
  @extend .modal-actions;
}

.modal-join-space-info {
  @extend .modal-info;
}
