@use '../../styles/modal_common';

.modal-join-space {
  @extend .modal-body;
  
  @media (max-width: 640px) {
    gap: 20px;
  }
}

.modal-join-space-icon {
  @extend .modal-icon-section;
  
  @media (max-width: 640px) {
    padding: 16px 8px;
  }
}

.modal-join-space-actions {
  @extend .modal-actions;
  
  @media (max-width: 640px) {
    padding-top: 12px;
    display: flex;
    justify-content: center;
  }
}

.modal-join-space-info {
  @extend .modal-info;
}
