@import '../../styles/modal_common';

.modal-new-direct-message {
  @extend .modal-body;
}

.modal-new-direct-message-icon {
  @extend .modal-icon-section;
}

.modal-new-direct-message-actions {
  @extend .modal-actions;
}

.modal-new-direct-message-info {
  @extend .modal-info;
}
