.modal-new-direct-message {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.modal-new-direct-message-icon {
  padding: 20px;
}

.modal-new-direct-message-actions {
  padding-top: 20px;
  text-align: right;
}

.modal-new-direct-message-info {
  font-size: 12px;
}
