@use '../../styles/variables' as *;
@use '../../styles/modal_common';

.modal-new-direct-message {
  @extend .modal-body;
}

.modal-new-direct-message-icon {
  @extend .modal-icon-section;
}

.modal-new-direct-message-actions {
  @extend .modal-actions;
  display: flex;
  justify-content: flex-start;

  @media (max-width: $screen-sm) {
    display: flex;
    justify-content: center;
  }
}

.modal-new-direct-message-info {
  @extend .modal-info;
}

.modal-new-direct-message-error {
  color: var(--color-text-danger);
  font-size: $text-sm;
  margin-top: $s-2;
  text-align: center;
}

@media (max-width: $screen-sm) {
  .modal-new-direct-message-error {
    text-align: center;
  }
}
