.user-settings {
  position: absolute;
  z-index: 3000;
  width: 90vw;
  max-width: 800px;
  height: 90vh;
  background: var(--surface-3);
  border-radius: 10px;
  color: var(--text-base);
}

.user-settings-header {
  background: var(--surface-5);
  min-height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  user-select: none;
}

.user-settings-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 212px;
}

.user-settings-username {
  font-size: 18px;
  font-weight: 700;
}

.user-settings-info {
  font-size: 13px;

  .quorum-input {
    width: 100%;
    background: var(--surface-0);
    padding: 10px;
    font-size: 13px;
  }
}

.user-settings-editor-actions {
  display: flex;
  justify-content: right;
  margin-top: 10px;

  .quorum-button {
    height: 38px;
    font-size: 13px;
  }
}

.user-settings-content {
  padding: 14px;
  background-color: var(--surface-5);
  border-radius: 0px 0px 10px 10px;
}

.user-settings-icon,
.user-settings-icon-editable {
  width: 82px;
  height: 82px;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  background-position: center;
  background-size: cover;
  border-radius: 41px;
  display: inline-block;
  flex-shrink: 0;
}

.user-settings-icon-editable::after {
  width: 24px;
  height: 24px;
  background: var(--surface-00);
  color: var(--primary);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  float: right;
  margin-top: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-settings-banner,
.user-settings-banner-editable {
  width: 260px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: inline-block;
  flex-shrink: 0;
}

.user-settings-banner-editable::after {
  width: 24px;
  height: 24px;
  background: var(--surface-00);
  color: var(--primary);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12pt;
  float: right;
  margin-top: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-settings-content-section-header {
  font-weight: 700;
  border-top: 1px solid var(--surface-6);
  padding-top: 7px;
  margin-top: 7px;
}

.user-settings-content-section-header:first-child {
  border-top: 0px none;
  padding-top: 0px;
  margin-top: 0px;
}

.user-settings-edit-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
