@use '../../styles/variables' as *;

.user-status {
  height: 52px;
  background: var(--surface-3);
  /*border-top: $border solid var(--color-border-default);*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: var(--sidebar-left-width);
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 1023px) {
  .user-status {
    display: none;
    // width: var(--sidebar-left-width); // if visible
  }
}

.user-status-icon {
  // UserAvatar component handles size and border-radius
  margin-top: $s-1;
  margin-left: $s-2;
  margin-right: $s-2;
  margin-bottom: $s-1; // Match margin-top for symmetry
  display: inline-block;
  vertical-align: middle; // Ensure consistent vertical alignment
}

.user-status-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-status-username {
  font-size: $text-sm;
  font-weight: $font-bold;
}

.user-status-info {
  font-size: $s-2-5;
  text-overflow: ellipsis;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
}

.user-status-menu {
  position: absolute;
}
