.user-status {
  height: 52px;
  background: var(--surface-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  width: var(--sidebar-left-width);
  user-select: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

@media (max-width: 1023px) {
  .user-status {
    display: none;
    // width: var(--sidebar-left-width); // if visible
  }
}

.user-status-icon {
  // UserAvatar component handles size and border-radius
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 4px; // Match margin-top for symmetry
  display: inline-block;
  vertical-align: middle; // Ensure consistent vertical alignment
}

.user-status-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-status-username {
  font-size: 14px;
  font-weight: 700;
}

.user-status-info {
  font-size: 10px;
  text-overflow: ellipsis;
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
}

.user-status-menu {
  position: absolute;
}
