.user-profile {
  position: absolute;
  z-index: 3000;
  width: 330px;
  background: var(--surface-3);
  border-radius: 0.5rem;
  color: var(--color-text-main);
  user-select: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.35);
}

.user-profile-header {
  background: var(--surface-5);
  min-height: 120px;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
}

.user-profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 212px;
}

.user-profile-username {
  font-size: 18px;
  font-weight: 700;
}

.user-profile-info {
  font-size: 13px;

  .quorum-input {
    width: 100%;
    background: var(--surface-0);
    padding: 10px;
    height: 38px;
    font-size: 13px;
  }
}

.user-profile-editor-actions {
  display: flex;
  justify-content: right;
  margin-top: 10px;

  .quorum-button {
    height: 38px;
    font-size: 13px;
  }
}

.user-profile-content {
  padding: 14px;
}

.user-profile-icon,
.user-profile-icon-editable {
  width: 82px;
  height: 82px;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  background-position: center;
  background-size: cover;
  border-radius: 41px;
  display: inline-block;
  flex-shrink: 0;
}

.user-profile-icon-editable::after {
  width: 24px;
  height: 24px;
  background: var(--surface-3);
  color: var(--accent-200);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 0.75rem;
  font-weight: 700;
  float: right;
  margin-top: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-profile-content-section-header {
  font-weight: 500;
  border-top: 1px solid var(--surface-6);
  padding: 8px 0px 4px 0px;
  margin-top: 8px;
}

.user-profile-content-section-header:first-child {
  border-top: 0px none;
  padding-top: 0px;
  margin-top: 0px;
}

.user-profile-edit-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

