@import '../../styles/chat';

.channel {
  flex: 1 0;
  border-top-left-radius: 10px;
  background: var(--color-bg-chat);
  z-index: 1;
  display: flex;
  height: calc(100vh - 35px);
  flex-direction: row;
}

.channel-name {
  font-weight: 700;
  font-size: 16px;
  user-select: none;
}

.message {
  display: flex;
  font-size: 11pt;
  padding: 8px 11px;
}

.message-editor {
  background: var(--surface-5);
}
