@import '../../styles/chat';

.channel-name {
  font-weight: 700;
  font-size: 16px;
  user-select: none;
}

.message {
  display: flex;
  font-size: 11pt;
  padding: 8px 11px;
}

.message-editor {
  background: var(--surface-5);
}
