.channels-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: 260px;
  z-index: 0;
  margin-right: -10px;
  scrollbar-width: none;
  flex-grow: 1;

  a {
    color: var(--text-base);
  }

  a:hover {
    text-decoration: none;
  }
  user-select: none;
}

.channels-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.space-header {
  padding: 8px 25px 8px 15px;
  font-weight: 700;
  font-size: 18px;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 10px;
  margin-right: -10px;
  height: 120px;
  width: 260px;
  color: var(--text-base);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.space-context-menu-toggle-button {
  float: right;
  cursor: pointer;
  font-size: 14px;
  margin-top: 2px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}
