.channel-editor {
  position: absolute;
  z-index: 3000;
  width: 300px;
  background: var(--surface-3);
  border-radius: 10px;
  color: var(--text-base);
  user-select: none;
}

.channel-editor-header {
  background: var(--surface-5);
  padding-top: 4pt;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
}

.channel-editor-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 212px;
}

.channel-editor-username {
  font-size: 18px;
  font-weight: 700;
}

.channel-editor-info {
  font-size: 13px;
}

.channel-editor-editor-actions {
  display: flex;
  margin-top: 10px;

  .quorum-button {
    height: 38px;
    font-size: 13px;
  }
}

.channel-editor-content {
  padding: 14px;
  background-color: var(--surface-5);
  border-radius: 0px 0px 10px 10px;
}

.channel-editor-icon,
.channel-editor-icon-editable {
  width: 82px;
  height: 82px;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  background-position: center;
  background-size: cover;
  border-radius: 41px;
  display: inline-block;
  flex-shrink: 0;
}

.channel-editor-icon-editable::after {
  width: 24px;
  height: 24px;
  background: #373036ff;
  color: #ddbea8ff;
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  float: right;
  margin-top: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.channel-editor-banner,
.channel-editor-banner-editable {
  width: 260px;
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: inline-block;
  flex-shrink: 0;
}

.channel-editor-banner-editable::after {
  width: 24px;
  height: 24px;
  background: #373036ff;
  color: #ddbea8ff;
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12pt;
  float: right;
  margin-top: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.channel-editor-content-section-header {
  font-weight: 700;
  border-top: 1px solid var(--surface-6);
  padding-top: 7px;
  margin-top: 7px;
}

.channel-editor-content-section-header:first-child {
  border-top: 0px none;
  padding-top: 0px;
  margin-top: 0px;
}

.channel-editor-edit-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
