.leave-space {
  position: absolute;
  z-index: 3000;
  width: 400px;
  background: var(--surface-3);
  border-radius: 10px;
  color: var(--tex-base);
  user-select: none;
}

.leave-space-header {
  background: var(--surface-5);
  padding-top: 4pt;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
}

.leave-space-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 212px;
}

.leave-space-username {
  font-size: 18px;
  font-weight: 700;
}

.leave-space-info {
  font-size: 13px;
}

.leave-space-editor-actions {
  display: flex;
  margin-top: 10px;

  .quorum-button {
    height: 38px;
    font-size: 13px;
  }
}

.leave-space-content {
  padding: 14px;
  background-color: var(--surface-5);
  border-radius: 0px 0px 10px 10px;
}

.leave-space-icon,
.leave-space-icon-editable {
  width: 82px;
  height: 82px;
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  background-position: center;
  background-size: cover;
  border-radius: 41px;
  display: inline-block;
  flex-shrink: 0;
}

.leave-space-icon-editable::after {
  width: 24px;
  height: 24px;
  background: var(--color-bg-icon);
  color: var(--accent);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  float: right;
  margin-top: 58px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leave-space-banner,
.leave-space-banner-editable {
  width: var(--sidebar-left-width);
  height: 120px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  display: inline-block;
  flex-shrink: 0;
}

.leave-space-banner-editable::after {
  width: 24px;
  height: 24px;
  background: var(--color-bg-icon);
  color: var(--accent);
  content: '+';
  display: block;
  text-align: center;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12pt;
  float: right;
  margin-top: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.leave-space-content-section-header {
  font-weight: 700;
  border-top: 1px solid var(--surface-6);
  padding-top: 7px;
  margin-top: 7px;
}

.leave-space-content-section-header:first-child {
  border-top: 0px none;
  padding-top: 0px;
  margin-top: 0px;
}

.leave-space-edit-button {
  position: absolute;
  right: 10px;
  top: 10px;
}
