/* === LIGHT THEME (DEFAULT) === */
:root {
  /*accent*/
  --accent-50: #eef7ff;
  --accent-100: #daeeff;
  --accent-150: #a6d9ff;
  --accent-200: #6fc3ff;
  --accent-300: #48adf5;
  --accent-400: #3aa9f8;
  --accent-500: #0287f2;
  --accent-600: #025ead;
  --accent-700: #034081;
  --accent-800: #0a0733;
  --accent-900: #060421;

  --accent: var(--accent-500); /* for solid use (hex) */
  --accent-rgb: 2, 135, 242; /* for color , <opacity>) */

  /* surface */
  --surface-00: #ffffff;
  --surface-00-rgb: 255, 255, 255;
  --surface-0: #fefeff;
  --surface-1: #f6f6f9;
  --surface-2: #eeeef3;
  --surface-3: #e6e6eb;
  --surface-4: #dedee3;
  --surface-5: #d5d5db;
  --surface-6: #cdccd3;
  --surface-7: #c4c4cb;
  --surface-8: #bbbbc3;
  --surface-9: #a2a2aa;
  --surface-10: #939399;

  --color-text-strong: #3b3b3b;
  --color-text-main: 54 54 54;
  --color-text-subtle: #818181;
  --color-text-muted: #b6b6b6;
  --color-link-hover: var(--accent-400);

  /* surface semantic */
  --color-bg-app: var(--surface-00);

  --color-bg-sidebar: var(--surface-1);
  --color-bg-sidebar-hover: var(--surface-4);
  --color-bg-sidebar-active: var(--surface-3);

  --color-bg-chat: var(--surface-2);
  --color-bg-chat-hover: var(--surface-3);
  --color-bg-chat-input: var(--surface-0);

  --color-bg-modal: var(--surface-5);
  --color-bg-modal-cat-hover: var(--surface-6);
  --color-bg-modal-cat-active: var(--surface-5);

  --color-bg-overlay: rgba(0, 0, 0, 0.6);

  --color-bg-tooltip: var(--surface-00);
  --color-bg-icon: var(--surface-00);
  --color-bg-input: var(--surface-3);

  --color-border-default: var(--surface-6);
  --color-border-strong: var(--surface-7);
  --color-border-stronger: var(--surface-8);

  --color-bg-card: var(--surface-2);

  /* utilities */
  --danger-hex: #e74a4a;
  --danger-hover-hex: #ec3333;
  --warning-hex: #e7b04a;
  --success-hex: #46c236;
  --info-hex: #3095bd;

  /* utilities for use with opacity */
  --danger: 231 74 74; /* RED #e74a4a */
  --danger-hover: 236 51 51; /* RED BRIGHTER #ec3333 */
  --warning: 231 176 74; /* YELLOw #e7b04a */
  --success: 70 194 54; /* GREEN #46c236 */
  --info: 48 149 189; /* BLUE #3095bd */

  /* general */
  --unknown-icon: url('/unknown-light.png');
}

/* === DARK THEME ===*/
html.dark {
  /* surface */
  --surface-00: #100f11;
  --surface-00-rgb: 16, 15, 17; /* to be used with opacity */
  --surface-0: #1d1a21;
  --surface-1: #241f27;
  --surface-2: #2c252e;
  --surface-3: #312935;
  --surface-4: #3a313f;
  --surface-5: #443b49;
  --surface-6: #584d5e;
  --surface-7: #716379;
  --surface-8: #92829b;
  --surface-9: #a999b3;
  --surface-10: #bfadca;

  --color-bg-sidebar-hover: var(--surface-5);
  --color-bg-sidebar-active: var(--surface-4);

  /* text */
  --color-text-strong: #f8f7fa;
  --color-text-main: 244 241 246;
  --color-text-subtle: #bfb5c8;
  --color-text-muted: #84788b;
  --color-link-hover: var(--accent-200);

  /* utilities */
  --danger-hex: #c73737;
  --danger-hover-hex: #b83030;
  --warning-hex: #d09a3d;
  --success-hex: #379e2b;
  --info-hex: #267b9e;

  /* utilities for use with opacity */
  --danger: 199 55 55; /* #c73737 */
  --danger-hover: 184 48 48; /* #b83030 */
  --warning: 208 154 61; /* #d09a3d */
  --success: 55 158 43; /* #379e2b */
  --info: 38 123 158; /* #267b9e */

  --unknown-icon: url('/unknown-dark.png');
}

/* === ACCENT THEMES === */
.accent-blue {
  --accent-50: #eef7ff;
  --accent-100: #daeeff;
  --accent-150: #a6d9ff;
  --accent-200: #6fc3ff;
  --accent-300: #48adf5;
  --accent-400: #3aa9f8;
  --accent-500: #0287f2;
  --accent-600: #025ead;
  --accent-700: #034081;
  --accent-800: #0a0733;
  --accent-900: #060421;
  --accent: var(--accent-500);
  --accent-rgb: 2, 135, 242;
  background-color: var(--accent-500);
}

.accent-purple {
  --accent-50: #f5f2ff;
  --accent-100: #e9e3ff;
  --accent-150: #d3c6ff;
  --accent-200: #bda8ff;
  --accent-300: #a78bff;
  --accent-400: #916eff;
  --accent-500: #7c52ff;
  --accent-600: #6233e8;
  --accent-700: #4b27b3;
  --accent-800: #281566;
  --accent-900: #140b33;
  --accent: var(--accent-500);
  --accent-rgb: 124, 82, 255;
  background-color: var(--accent-500);
}

.accent-fuchsia {
  --accent-50: #fdf4ff;
  --accent-100: #fae8ff;
  --accent-200: #f5d0fe;
  --accent-300: #f0abfc;
  --accent-400: #e879f9;
  --accent-500: #d946ef;
  --accent-600: #c026d3;
  --accent-700: #a21caf;
  --accent-800: #86198f;
  --accent-900: #701a75;
  --accent: var(--accent-500);
  --accent-rgb: 217, 70, 239;
  background-color: var(--accent-500);
}

.accent-orange {
  --accent-50: #fff7ed;
  --accent-100: #ffedd5;
  --accent-200: #fed7aa;
  --accent-300: #fdba74;
  --accent-400: #fb923c;
  --accent-500: #f97316;
  --accent-600: #ea580c;
  --accent-700: #c2410c;
  --accent-800: #9a3412;
  --accent-900: #7c2d12;
  --accent: var(--accent-500);
  --accent-rgb: 249, 115, 22;
  background-color: var(--accent-500);
}

.accent-green {
  --accent-50: #f0f9eb;
  --accent-100: #e1f3d6;
  --accent-150: #c3e7ad;
  --accent-200: #a5d984;
  --accent-300: #87cc5b;
  --accent-400: #69be32;
  --accent-500: #4fa81a;
  --accent-600: #3b7e14;
  --accent-700: #27540e;
  --accent-800: #142b07;
  --accent-900: #0a1504;
  --accent: var(--accent-500);
  --accent-rgb: 79, 168, 26;
  background-color: var(--accent-500);
  background-color: var(--accent-500);
}

.accent-yellow {
  --accent-50: #fefce8;
  --accent-100: #fef9c3;
  --accent-200: #fef08a;
  --accent-300: #fde047;
  --accent-400: #facc15;
  --accent-500: #eab308;
  --accent-600: #ca8a04;
  --accent-700: #a16207;
  --accent-800: #854d0e;
  --accent-900: #713f12;
  --accent: var(--accent-500);
  --accent-rgb: 234, 179, 8;
  background-color: var(--accent-500);
}
