/* === EMOJI PICKER THEMING === */
.EmojiPickerReact {
  scale: 0.85;
  /* Backgrounds */
  --epr-bg-color: var(--surface-1) !important;
  --epr-category-label-bg-color: var(--surface-1) !important;
  --epr-search-input-bg-color: var(--surface-00) !important;
  --epr-hover-bg-color: var(--surface-3) !important;
  --epr-focus-bg-color: var(--surface-3) !important;
  --epr-search-input-bg-color-active: var(--surface-00) !important;
  --epr-search-input-focus-bg-color: var(--surface-0) !important;
  --epr-search-input-focus-border-color: var(--accent-400) !important;

  /* Borders */
  --epr-picker-border-color: var(--surface-5) !important;
  --epr-search-input-border-color: var(--surface-5) !important;
  /* Text */
  --epr-text-color: var(--color-text-main) !important;
  --epr-search-input-text-color: var(--color-text-main) !important;
  --epr-category-label-text-color: var(--color-text-subtle) !important;
  /* Highlights */
  --epr-highlight-color: var(--accent) !important;
  --epr-focus-color: var(--accent-400) !important;
  /* UI sizing */
  --epr-category-navigation-button-size: 38px !important;
}

@media (max-width: 1023px) {
  .EmojiPickerReact {
    scale: 0.75;
    --epr-category-navigation-button-size: 32px !important;
  }
}

@media (max-width: 480px) {
  .EmojiPickerReact {
    scale: 0.7;
    --epr-category-navigation-button-size: 32px !important;
  }
}

/* === ELECTRON TITLEBAR === */
.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

/* === INFO ICON TOOLTIPS === */
.info-icon-tooltip {
  @apply text-subtle hover:text-main cursor-pointer;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

/* === MOBILE OVERLAY COMPONENTS === */
.bg-mobile-overlay {
  background-color: var(--color-bg-overlay);
}

.bg-mobile-sidebar {
  background-color: var(--color-bg-sidebar);
}

.mobile-sidebar-right {
  padding: 15px;
}
