/* === EMOJI PICKER THEMING === */
.EmojiPickerReact {
  /* Backgrounds */
  --epr-bg-color: var(--surface-1) !important;
  --epr-category-label-bg-color: var(--surface-1) !important;
  --epr-search-input-bg-color: var(--surface-00) !important;
  --epr-hover-bg-color: var(--surface-3) !important;
  --epr-focus-bg-color: var(--surface-3) !important;
  --epr-search-input-bg-color-active: var(--surface-00) !important;
  --epr-search-input-focus-bg-color: var(--surface-0) !important;
  --epr-search-input-focus-border-color: var(--accent-400) !important;

  /* Borders */
  --epr-picker-border-color: var(--surface-5) !important;
  --epr-search-input-border-color: var(--surface-5) !important;
  /* Text */
  --epr-text-color: var(--color-text-main) !important;
  --epr-search-input-text-color: var(--color-text-main) !important;
  --epr-category-label-text-color: var(--color-text-subtle) !important;
  /* Highlights */
  --epr-highlight-color: var(--accent) !important;
  --epr-focus-color: var(--accent-400) !important;
  /* UI sizing */
  --epr-category-navigation-button-size: 38px !important;
}

/* === ELECTRON TITLEBAR === */
.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}