.modal-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.modal-icon-section {
  padding: 20px;
}

.modal-actions {
  padding-top: 20px;
  text-align: right;
}

.modal-info {
  font-size: 12px;
}