.space-icon {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  background-color: var(--surface-5);
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  transition: all 100ms linear;
  border: 2px solid transparent;
  cursor: pointer;
}