@use '../../styles/variables' as *;

.channels-list-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 52px); // Account for UserStatus height
  width: var(--sidebar-left-width);

  @media (max-width: 1023px) {
    height: 100%;
  }
}

.channels-list {
  overflow-y: auto;
  overflow-x: hidden;
  width: var(--sidebar-left-width);
  z-index: 0;
  margin-right: -$s-2-5;
  scrollbar-width: none;
  flex-grow: 1;

  a {
    color: var(--color-text-main);
  }

  a:hover {
    text-decoration: none;
  }

  user-select: none;
}

html:not(.dark) {
  // Channels list always has left border and rounded top-left corner
  .channels-list {
    border-left: $border solid var(--color-border-subtle);

    @media (max-width: 1023px) {
      border-left: none;
    }
  }

  // Space header only has borders when there's no banner
  .space-header-no-banner {
    border-top: $border solid var(--color-border-subtle);
    border-left: $border solid var(--color-border-subtle);
    border-top-left-radius: $rounded-xl;

    @media (max-width: 1023px) {
      border-top: none;
      border-left: none;
      border-top-left-radius: 0;
    }
  }
}

.channels-list::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.space-header {
  padding: $s-2 $s-6 $s-2 $s-4;
  font-weight: $font-bold;
  font-size: $text-lg;
  background-size: cover;
  background-position: center;
  border-top-left-radius: $rounded-xl;
  margin-right: -$s-2-5;
  height: 120px;
  width: var(--sidebar-left-width);
  color: var(--color-text-main);
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1023px) {
    border-top-left-radius: 0;
    height: 132px;
    padding-top: $s-3;
  }
}

// More space below name when no banner image
.space-header.space-header-no-banner {
  height: auto !important;
  padding-bottom: $s-3;
}

.space-context-menu-toggle-button {
  cursor: pointer;
  font-size: $text-sm;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
  flex-shrink: 0;
  margin-top: $s-1;
}
