.channel-group {
  padding: 10px 15px;
  line-height: 29px;
}

.channel-group-name {
  font-weight: 700;
  font-size: 18px;
}

.channel-group-channel {
  padding: 0px 0px 0px 10px;
}

.channel-group-channel-name {
  font-weight: 300;
  opacity: 0.8;
  cursor: pointer;
}

.channel-configure {
  display: none;
}

.channel-group-channel-name:hover {
  background: var(--surface-2);
  padding: 0px 15px;
  margin: 0px -15px;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
  opacity: 1;

  .channel-configure {
    display: block !important;
  }
}

.channel-group-channel-name-focused {
  font-weight: 700;
  background: var(--surface-2);
  padding: 0px 15px;
  margin: 0px -15px;
  opacity: 1;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.channel-group-channel-name-focused:hover {
  .channel-configure {
    display: block !important;
  }
}

.channel-group-channel-name-mentions-you,
.channel-group-channel-name-mentions-role {
  display: inline-block;
  padding: 0px 6px;
  border-radius: 1rem;
  line-height: 20px;
  margin-top: 4px;
  margin-left: 8px;
  font-weight: 700;
}

.channel-group-channel-name-mentions-role {
  background: #3e8914;
}

.channel-group-channel-name-mentions-you {
  background: #eeb155;
}

// Mobile layout
@media (max-width: 1023px) {
  .channel-group-channel {
    padding: 0px 10px;
  }

  .channel-group-channel-name:hover {
    border-radius: 0.5rem;
  }

  .channel-group-channel-name-focused {
    border-radius: 0.5rem;
  }
}
