.space-icon {
  width: 48px;
  margin-left: 4px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 24px;
  background-position: center;
  background-size: cover;
  background-color: var(--surface-2);
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  transition: all 100ms linear;
  border: 2px none var(--surface-border);
}

.space-icon-large {
  width: 114px !important;
  height: 114px !important;
}

.space-icon:hover {
  border-radius: 14px;
  background-color: var(--surface-4);
}

.space-icon-toggle {
  content: ' ';
  border: 2px;
  border-radius: 3px;
  border-color: #ffffff;
  opacity: 0;
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: -10px;
  margin-top: 28px;
  z-index: 1000;
  background: #ffffff;
  transition: all 100ms linear;
}

.space-icon-has-notifs-toggle {
  content: ' ';
  border: 2px;
  border-radius: 3px;
  border-color: #ffffff;
  position: absolute;
  width: 6px;
  height: 6px;
  margin-left: -10px;
  margin-top: 28px;
  z-index: 1000;
  background: var(--accent);
  transition: all 100ms linear;
}

.space-icon-selected {
  width: 48px;
  margin-left: 4px;
  height: 48px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-color: var(--primary-700);
  background-repeat: no-repeat;
  margin-top: 7px;
  display: inline-block;
  box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.12);
  border: 2px solid var(--primary-100);
  border-radius: 10px;
  transition: all 100ms linear;
}

.space-icon-selected-toggle {
  content: ' ';
  border: 2px;
  border-radius: 3px;
  border-color: #ffffff;
  position: absolute;
  width: 6px;
  height: 20px;
  margin-left: -10px;
  margin-top: 22px;
  z-index: 1000;
  background: var(--primary);
  transition: all 100ms linear;
}
