@import '../../styles/navbar_common';

.space-button {
  color: var(--color-text-main);
  transition: color 0.2s;

  &:hover {
    color: var(--color-text-main);
  }
}

.space-button-active {
  .space-icon {
    border: 2px solid var(--accent);
  }
}

.space-icon-add {
  background-color: var(--surface-6);
  color: var(--color-text-subtle);
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-icon-add:hover {
  background-color: var(--surface-7);
}

.space-icon-add:active {
  background-color: var(--surface-8);
}