.btn-base {
  @apply flex items-center justify-center py-2 px-4 rounded-full shadow-lg font-medium text-sm text-center select-none transition duration-300;
  color: white;
}

.btn-primary {
  @extend .btn-base;
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-300);
    border: 2px solid var(--primary-300);
    color: white;
  }
}


.btn-secondary {
  @extend .btn-base;
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: white;
    border: 2px solid white;
    color: var(--primary-700);
  }
}


.btn-light {
  @extend .btn-base;
  background-color: var(--primary-100);
  border: 2px solid var(--primary-100);
  cursor: pointer;
  color: var(--primary-700);

  &:hover {
    background-color: transparent;
    border: 2px solid var(--primary-100);
    color: var(--primary-100);
  }
}


.btn-light-outline {
  @extend .btn-base;
  background-color: transparent;
  border: 2px solid var(--primary-100);
  cursor: pointer;
  color: var(--primary-100);

  &:hover {
    background-color: var(--primary-100);
    border: 2px solid var(--primary-100);
    color: var(--primary-700);
  }
}

.btn-danger {
  @extend .btn-base;
  background-color: #fd303d;
  border: 2px solid #fd303d;
  cursor: pointer;

  &:hover {
    background-color: #ff0314;
    border: 2px solid #ff0314;
  }
}

.btn-disabled {
  @extend .btn-base;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: default;
  pointer-events: none;
}
