.btn-base {
  @apply flex items-center justify-center py-2 px-4 rounded-full shadow-lg font-medium text-sm text-center select-none transition duration-300;
  color: white;
}

.btn-primary {
  @extend .btn-base;
  background-color: var(--accent);
  border: 2px solid var(--accent);
  color: white;
  cursor: pointer;

  &:hover {
    background-color: var(--accent-300);
    border: 2px solid var(--accent-300);
    color: white;
  }
}


.btn-secondary {
  @extend .btn-base;
  background-color: transparent;
  border: 2px solid var(--accent-500);
  cursor: pointer;
  color: var(--accent-500);

  &:hover {
    background-color: var(--accent);
    border: 2px solid var(--accent);
    color: white;
  }
}


.btn-light {
  @extend .btn-base;
  background-color: var(--accent-100);
  border: 2px solid var(--accent-100);
  cursor: pointer;
  color: var(--accent-700);

  &:hover {
    background-color: transparent;
    border: 2px solid var(--accent-100);
    color: var(--accent-100);
  }
}


.btn-light-outline {
  @extend .btn-base;
  background-color: transparent;
  border: 2px solid var(--accent-100);
  cursor: pointer;
  color: var(--accent-100);

  &:hover {
    background-color: var(--accent-100);
    border: 2px solid var(--accent-100);
    color: var(--accent-700);
  }
}

.btn-danger {
  @extend .btn-base;
  background-color: rgba(var(--danger), 0.8);
  border: 2px solid transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba(var(--danger), 1);
    border: 2px solid transparent;
  }
}

.btn-disabled {
  @extend .btn-base;
  background-color: var(--surface-9);
  border: 2px solid transparent;
  color: var(--surface-3);
  cursor: default;
  pointer-events: none;
}

.btn-disabled-onboarding {
  @extend .btn-base;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid transparent;
  color: white;
  cursor: default;
  pointer-events: none;
}
