.connecting-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-bg-app);
  color: var(text-subtle);
  text-align: center;
  font-size: 1.5rem;
}

.connecting-icon {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

@keyframes pulse-zoom {
  0% {
    transform: scale(0.5);
    opacity: 0.2;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(0.5);
    opacity: 0.2;
  }
}

.pulse {
  animation: pulse-zoom 2s ease-in-out infinite;
}

.connecting-message {
  font-weight: 500;
  opacity: 0.9;
}

//OLD SPINNER ANIMATION - could work with the new logo "arrow" and not the entire Q symbol?
// .connecting-splash {
//   position: fixed;
//   top: 0px;
//   left: 0px;
//   z-index: 1001;
//   width: 100vw;
//   height: 100vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

// .connecting-icon {
//   width: 60px;
//   height: 60px;
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
//   animation: iconspin 1s infinite;
//   opacity: 0;
//   animation-timing-function: ease-in;
// }

// .connecting-icon-1 {
//   margin-top: -60px;
//   rotate: -22.5deg;
// }

// .connecting-icon-2 {
//   margin-top: -60px;
//   rotate: 22.5deg;
// }

// .connecting-icon-3 {
//   margin-top: -60px;
//   rotate: -45deg;
// }

// .connecting-icon-4 {
//   margin-top: -60px;
//   rotate: 45deg;
// }

// .connecting-icon-5 {
//   margin-top: -60px;
//   rotate: -67.5deg;
// }

// .connecting-icon-6 {
//   margin-top: -60px;
//   rotate: 67.5deg;
// }

// .connecting-message {
//   margin-top: 30px;
//   font-size: 32px;
//   font-weight: 700;
// }

// @keyframes iconspin {
//   0% {
//     transform: translateX(-60px);
//     opacity: 0;
//   }

//   10% {
//     opacity: 0.1;
//   }

//   20% {
//     opacity: 0.2;
//   }

//   30% {
//     opacity: 0.3;
//   }

//   50% {
//   }

//   80% {
//     opacity: 1;
//   }

//   90% {
//     opacity: 0.5;
//   }

//   100% {
//     transform: translateX(60px);
//     opacity: 0;
//   }
// }
