.container-unit {
  position: fixed;
  width: calc(100vw - 72px);
  height: calc(100vh - 50px);
  left: 72px;
  top: 50px; 
  border-top-left-radius: 10px;
  background-color: var(--color-bg-sidebar);
}
