.quorum-input {
  background-color: #373036;
  height: 42px;
  font-size: 16px;
  padding: 18px;
  margin: 0px;
  border: 0px none;
  border-radius: 10px;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  outline: 0px none;

  ::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}
