.quorum-input {
  background-color: var(--color-bg-input);
  border-radius: 10px;
  padding: 10px 16px;
  height: 42px;
  font-size: 16px;
  margin: 0px;
  border: 0px none;
  color: var(--color-text-main);
  outline: 0px none;

  ::placeholder {
    color: var(--color-text-muted);
  }

  &.error {
    border: 1px solid var(--danger-hex);
  }
}

.onboarding-input {
  color: var(--accent-700);
  border-radius: 9999px; // full pill shape
  padding: 10px 16px;
  height: 42px;
  font-size: 16px;
  margin: 0px;
  border: 0px none;

  &::placeholder {
    color: var(--accent-200);
    opacity: 1;
  }
}
