.quorum-react-tooltip,
.quorum-react-tooltip-dark {
  background-color: var(--surface-0) !important;
  padding: 7px 12px !important;
  border-radius: 8px !important;
  color: var(--color-text-main) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11) !important;
}

.quorum-react-tooltip-dark {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22) !important;
}

