.quorum-react-tooltip {
    background-color: var(--surface-6) !important;
    padding: 7px 10px !important;
    border-radius: 8px !important;
    color: var(--text-base) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11) !important;
}

.quorum-react-tooltip-dark {
    background-color: var(--surface-1) !important;
    padding: 7px 10px !important;
    border-radius: 8px !important;
    color: var(--text-base) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.22) !important;
}
