.quorum-toggle-switch {
  width: 60px;
  height: 32px;
  border-radius: 30px;
  display: inline-block;
  padding: 2px;
  background-color: var(--primary-200);
  border: 1px solid var(--primary-200);
  transition: all 200ms;
  cursor: pointer;
}

.quorum-toggle-switch-inactive {
  background-color: var(--surface-3);
  border: 1px solid var(--surface-3);
}

.quorum-toggle-switch-active {
  padding-left: 30px;
}

.quorum-toggle-switch-flipper {
  width: 26px;
  height: 26px;
  background-color: var(--primary);
  display: inline-block;
  border-radius: 13px;
  border: 1px solid var(--primary);
}
