
.quorum-tooltip {
  background-color: var(--surface-5);
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 8px;
  margin-left: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  z-index: 2000;
}

.quorum-tooltip-arrow-none {
  margin-right: 11px;
  margin-bottom: 11px;
}

.quorum-tooltip-arrow-left::before {
  content: '';
  border-style: solid;
  border-width: 8px 11px 8px 0;
  border-color: transparent var(--surface-5) transparent transparent !important;
  position: absolute;
  left: 0px;
  top: 11px;
}

.quorum-tooltip-arrow-left.absolute::before {
  left: -10px;
}

.quorum-tooltip-arrow-right::after {
  content: '';
  border-style: solid;
  border-width: 8px 0px 8px 11px;
  border-color: transparent transparent transparent var(--surface-5) !important;
  position: absolute;
  right: -11px;
  top: 11px;
}

.quorum-tooltip-arrow-up::before {
  content: '';
  border-style: solid;
  border-width: 0px 8px 11px 8px;
  border-color: transparent transparent var(--surface-5) transparent !important;
  position: absolute;
  left: calc(50% - 8px);
  top: -11px;
}

.quorum-tooltip-arrow-down::after {
  content: '';
  border-style: solid;
  border-width: 11px 8px 0px 8px;
  border-color: var(--surface-5) transparent transparent transparent !important;
  position: absolute;
  right: calc(50% - 8px);
  bottom: -11px;
}

.quorum-tooltip-invisible {
  display: none;
}
