.quorum-tooltip-button {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  text-wrap: nowrap;
  width: 100%;
}

.quorum-tooltip-button-danger {
  color: #de3e3e;
}

.quorum-tooltip-button:hover {
  background: rgba(235, 200, 255, 0.3);
}
