/* Base button styles */
.quorum-tooltip-button {
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  text-wrap: nowrap;
  width: 100%;
}

/* Type variants */
.quorum-tooltip-button-danger {
  color: var(--danger);
}

/* Hover effects for default and light variants */
.quorum-tooltip-button-default:hover {
  background: var(--surface-6);
}

.quorum-tooltip-button-light:hover {
  background: var(--surface-8);
}