@use '../../styles/dropdown-result-item';

// Search result item uses shared styling
.search-result-item {
  @extend .dropdown-result-item;

  &:focus {
    outline: none;
    background-color: var(--surface-2);
  }
}

// Use shared styling for result components
.result-header {
  @extend .dropdown-result-header;
  border-bottom: none; // Search results don't have header borders
  padding-bottom: 0;
}

.result-meta {
  @extend .dropdown-result-meta;
}

.result-user-profile-image {
  @extend .dropdown-result-user-profile-image;
}

.result-type-icon {
  @extend .dropdown-result-type-icon;
}

.result-user-icon {
  @extend .dropdown-result-user-icon;
}

.result-date-icon {
  @extend .dropdown-result-date-icon;
}

.result-date {
  @extend .dropdown-result-date;
}

.result-channel {
  @extend .dropdown-result-channel;
}

.result-sender {
  @extend .dropdown-result-sender;
}

.result-content {
  @extend .dropdown-result-content;
}

.result-text {
  @extend .dropdown-result-text;
}

// Footer removed - date now in header
