@use '../../styles/chat';

.direct-message-name {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid var(--surface-5);
}

.message-editor {
  background: var(--color-bg-chat-input);
}

.message-editor-reply {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}

.message-reply-curve {
  width: 32px;
  height: 20px;
  border-radius: 4px 0px 0px 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-top: 1px;
  border-color: var(--color-border-strong) ;
  border-style: solid;
  margin-left: 37px;
  margin-top: 8px;
}

.message-reply-heading {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;
  padding-bottom: 3px;
}

.message-reply-sender-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 2px;
  background-position: center;
  background-size: cover;
}

.message-reply-sender-name {
  padding-left: 2pt;
  padding-top: 2pt;
  font-size: 10pt;
  font-weight: 600;
}

.message-reply-text {
  padding-left: 4pt;
  padding-top: 2pt;
  font-size: 10pt;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  overflow-x: hidden;
}


