.direct-messages-container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}

.direct-messages-container-channels {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100%;
}
