.direct-messages-list-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 52px); // Account for UserStatus height
  overflow: hidden;
}

.direct-messages-header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg-sidebar);
  z-index: 10;
  border-top-left-radius: 0.75rem;
}

.direct-messages-list {
  scrollbar-width: none;
  flex: 1;
  overflow-y: auto;

  a {
    color: var(--color-text-main);
  }

  a:hover {
    text-decoration: none;
  }
}

.direct-messages-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
