.direct-message {
  flex: 1 0;
  border-top-left-radius: 10px;
  background: var(--surface-2);
  z-index: 1;
  display: flex;
  height: calc(100vh - 35px);
  flex-direction: row;
}

.direct-message-name {
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid var(--surface-5);
}

.message-name-mentions-you,
.message-name-mentions-role {
  padding: 2px 10px;
  border-radius: 9px;
  line-height: 20px;
  margin-top: 4px;
  font-weight: 700;
  min-width: 29px;
  color: var(--text-base);
}

.message-mentions-you {
  border-left: 2px solid var(--primary);
  background: rgba(var(--info), 0.2)
}

.message-mentions-role {
  border-left: 2px solid var(--success);
  background: rgba(var(--success), 0.2)
}

.message-name-mentions-role {
  background: var(--success-hex)
}

.message-name-mentions-you {
  background: var(--primary);
}

.message-list {
  flex: 1 0;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: calc(100vw - 584px);
  transition: width 200ms;
}

.message-list-expanded {
  width: calc(100vw - 322px);
}

.message-list::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.message-sender-icon {
  width: 49px;
  height: 49px;
  background-position: center;
  background-size: cover;
  border-radius: 29px;
  display: inline-block;
}

.message-content {
  flex: 1 0;
  width: 80%;
  padding-left: 10px;
}

.message-sender-name {
  font-weight: 700;
}

.message-timestamp {
  color: var(--text-muted);
  margin-left: 9px;
  font-size: 10pt;
}

.message-post-content {
  margin-top: 2px;
}

.message-editor {
  background: var(--surface-00);
  border-radius: 10px;
  padding: 11px 15px;
  overflow: hidden;
  border: 0px none;
  color: var(--text-base);
  outline: 0px none;
  font-weight: 300;
  resize: none;
  line-height: 18px;
  margin: 8px 11px;

  ::placeholder {
    color: var(--text-muted);
  }
}

.message-editor-reply {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-top: 0px;
}

.message-reply-curve {
  width: 32px;
  height: 12px;
  border-radius: 4px 0px 0px 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-top: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-style: solid;
  margin-left: 37px;
  margin-top: 8px;
}

.message-reply-sender-icon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 2px;
  background-position: center;
  background-size: cover;
}

.message-reply-sender-name {
  padding-left: 2pt;
  padding-top: 2pt;
  font-size: 10pt;
  font-weight: 600;
}

.message-reply-text {
  padding-left: 4pt;
  padding-top: 2pt;
  font-size: 10pt;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 40%;
  overflow-x: hidden;
}

.message-reply-heading {
  display: flex;
  flex-direction: row;
  align-content: center;
  vertical-align: middle;
  cursor: pointer;
}
