@use '@/styles/variables' as *;

.direct-message-contact {
  margin: $s-1 $s-2;
  padding: $s-1 $s-2;
  margin-right: $s-4;
}

.direct-message-contact-name {
  font-weight: $font-bold;
  font-size: $text-sm;
}
