@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sen';
  src: url('/Sen-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* This enables the variable font weight range */
}

:root {
  /*accent*/
  --primary-100: #daeeff;
  --primary-200: #6fc3ff;
  --primary-300: #48adf5;
  --primary-400: #3aa9f8;
  --primary-500: #0287f2;
  --primary-600: #025ead;
  --primary-700: #034081;
  --primary-800: #0a0733;
  --primary-900: #060421;
  --primary: var(--primary-500);

  --surface-00: #100f11;
  --surface-00-rgb: 16, 15, 17; /* to be used with opacity */
  --surface-0: #1d1a21;
  --surface-1: #241f27;
  --surface-2: #2c252e;
  --surface-3: #312935;
  --surface-4: #3a313f;
  --surface-5: #443b49;
  --surface-6: #584d5e;
  --surface-7: #716379;
  --surface-8: #92829b;
  --surface-9: #a999b3;
  --surface-10: #bfadca;

  --color-text-main: #f4f1f6;
  --color-text-subtle: #bfb5c8;
  --color-text-muted: #84788b;



  /*utilities*/
  --danger-hex: #e74a4a;
  --danger-hover-hex: #ec3333;
  --warning-hex: #e7b04a;
  --success-hex: #46c236;
  --info-hex: #3095bd;

  /* utilities for use with opacity */
  --danger: 231, 74, 74; /* RED #e74a4a */
  --danger-hover: 236, 51, 51; /* RED BRIGHTER #ec3333 */
  --warning: 231, 176, 74; /* YELLOw #e7b04a */
  --success: 70, 194, 54; /* GREEN #46c236 */
  --info: 48, 149, 189; /* BLUE #3095bd */

  font-family: Sen, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  cursor: default;
  color-scheme: light dark;
  color: var(--color-text-main) !important;
  background-color: var(--surface-00) !important;

  --unknown-icon: url('/unknown-dark.png');

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* === LIGHT THEME ===*/

html.light {
  /* Surface */
  --surface-00: #ffffff;
  --surface-00-rgb: 255, 255, 255;
  --surface-0: #fefeff;
  --surface-1: #f6f6f9;
  --surface-2: #eeeef3;
  --surface-3: #e6e6eb;
  --surface-4: #dedee3;
  --surface-5: #d5d5db;
  --surface-6: #cdccd3;
  --surface-7: #c4c4cb;
  --surface-8: #bbbbc3;
  --surface-9: #a2a2aa;
  --surface-10: #939399;

  --text-base: #363636;
  --text-subtle: #5a5a5a;
  --text-muted: #a8a8a8;

  /* General */
  color: var(--color-text-main);
  background-color: var(--surface-00);

  --unknown-icon: url('/unknown-light.png');
}

html.light a:hover {
  color: var(--primary-400); 
}

html.light button {
  background-color: #f0f0f0;
}

/* === END LIGHT THEME ===*/

.EmojiPickerReact {
  /* Backgrounds */
  --epr-bg-color: var(--surface-1) !important;
  --epr-category-label-bg-color: var(--surface-1) !important;
  --epr-search-input-bg-color: var(--surface-00) !important;
  --epr-hover-bg-color: var(--surface-3) !important;
  --epr-focus-bg-color: var(--surface-3) !important;
  --epr-search-input-bg-color-active: var(--surface-00) !important;
  --epr-search-input-focus-bg-color: var(--surface-0) !important;
  --epr-search-input-focus-border-color: var(--primary-400) !important;

  /* Borders */
  --epr-picker-border-color: var(--surface-5) !important;
  --epr-search-input-border-color: var(--surface-5) !important;
  /* Text */
  --epr-text-color: var(--color-text-main) !important;
  --epr-search-input-text-color: var(--color-text-main) !important;
  --epr-category-label-text-color: var(--color-text-subtle) !important;
  /* Highlights */
  --epr-highlight-color: var(--primary) !important;
  --epr-focus-color: var(--primary-400) !important;
  /* UI sizing */
  --epr-category-navigation-button-size: 38px !important;
}

.bg-primary-dark--noise {
  background-color: var(--primary-dark);
  background-image: url('/otis-redding.png');
  background-repeat: repeat;
  background-size: auto, cover;
}

/*used for onboarding bg*/
.bg-primary--accent--noise {
  background-color: var(--primary-700);
  background-image:
    url('/otis-redding.png'),
    radial-gradient(circle at 90% 100%, #B4E235 0%, transparent 35%),
    radial-gradient(circle at 60% 50%, var(--primary) 0%, transparent 90%),
    radial-gradient(circle at 10% 10%, var(--primary-700) 0%, transparent 80%);
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover, cover;
}

.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-200);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.small-caps {
  font-variant-caps: all-small-caps;
  font-weight: 700;
  font-size: 1.2rem;
}

.invisible-dismissal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible-dismissal-no-blur {
  backdrop-filter: none !important;
}

.invisible-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.error-label {
  background-color: #e97e7e;
  color: #641010;
  border-radius: 4px;
  padding: 5px 8px;
  font-style: normal;
  font-size: 0.9rem;
}

.card {
  border-radius: 10px;
  padding: 1.5rem;
  background-color: transparent;
  border: 1px solid var(--surface-7);
}

/*  BELOW NOT USED ? */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}