@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sen';
  src: url('/Sen-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* This enables the variable font weight range */
}

:root {
  --primary-100: #daeeff;
  --primary-200: #6fc3ff;
  --primary-300: #48adf5;
  --primary-400: #3aa9f8;
  --primary-500: #0287f2;
  --primary-700: #0e0858;
  --primary-800: #0a0733;
  --primary: var(--primary-500);

  --accent: #b4e235; /*accent is not used*/

  /*new dark theme*/
  --surface-00: #100f11;
  --surface-0: #1d1a21;
  --surface-1: #241f27;
  --surface-2: #2c252e;
  --surface-3: #312935;
  --surface-4: #3a313f;
  --surface-5: #443b49;
  --surface-6: #584d5e;
  --surface-7: #716379;
  --surface-8: #92829b;

  --text-base: #f4f1f6;
  --text-subtle: #bfb5c8;
  --text-muted: #84788b;

  /*old colors NOT USED*/
  --pakistan-green: #134611ff;
  --india-green: #3e8914ff;
  --licorice: #373036ff;
  --champagne: #f3dfc1ff;
  --desert-sand: #ddbea8ff;
  /*old colors*/

  font-family: Sen, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  cursor: default;
  color-scheme: light dark;
  color: white !important;
  background-color: var(--primary-dark) !important;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EmojiPickerReact {
  --epr-bg-color: #474046ff !important;
  --epr-category-label-bg-color: #474046ff !important;
  --epr-picker-border-color: #575056ff !important;
  --epr-category-navigation-button-size: 38px !important;
}

.bg-primary-dark--noise {
  background-color: var(--primary-dark);
  background-image: url('/otis-redding.png');
  background-repeat: repeat;
  background-size: auto, cover;
}

/*used for onboarding bg*/
.bg-primary--accent--noise {
  background-color: var(--primary-700);
  background-image:
    url('/otis-redding.png'),
    radial-gradient(circle at 90% 100%, var(--accent) 0%, transparent 35%),
    radial-gradient(circle at 60% 50%, var(--primary) 0%, transparent 90%),
    radial-gradient(circle at 10% 10%, var(--primary-700) 0%, transparent 80%);
  background-repeat: repeat, no-repeat, no-repeat, no-repeat;
  background-size: auto, cover, cover, cover;
}

/* .quorum-button-secondary {
    background-color: $secondary-action-color;
}

.quorum-button-secondary:hover {
    background-color: $secondary-action-highlight-color;
}

.quorum-button-tertiary {
    background-color: #FFEEBC;
}

.quorum-button-tertiary:hover {
    background-color: $tertiary-action-highlight-color;
}

.quorum-button-disabled {
    background-color: #2E2E2E;
}

.quorum-button-disabled:hover {
    background-color: #2E2E2E;
} */

.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-200);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.small-caps {
  font-variant-caps: all-small-caps;
  font-weight: 700;
  font-size: 1.2rem;
}

.invisible-dismissal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible-dismissal-no-blur {
  backdrop-filter: none !important;
}

.invisible-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

.error-label {
  background-color: rgb(201, 14, 14);
  border-radius: 4px;
  padding: 5px 8px;
  font-style: normal;
  font-size: 0.9rem;
}