/* === IMPORTS === */
@use './styles/_colors.scss';
@use './styles/_base.scss';
@use './styles/_components.scss';
@use './components/message/MessageActionsDrawer.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
