@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sen';
  src: url('/Sen-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900; /* This enables the variable font weight range */
}

:root {
  --primary: #0287f2;
  --primary-dark: #0e0858;
  --primary-darker: #0a0733;
  --primary-light: #daeeff;
  --accent: #b4e235;

  /*old colors*/
  --pakistan-green: #134611ff;
  --india-green: #3e8914ff;
  --licorice: #373036ff;
  --champagne: #f3dfc1ff;
  --desert-sand: #ddbea8ff;
  /*old colors*/
  font-family: Sen, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  cursor: default;
  color-scheme: light dark;
  color: var(--champagne) !important;
  background-color: var(--licorice) !important;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EmojiPickerReact {
  --epr-bg-color: #474046ff !important;
  --epr-category-label-bg-color: #474046ff !important;
  --epr-picker-border-color: #575056ff !important;
  --epr-category-navigation-button-size: 38px !important;
}

/* .quorum-button-secondary {
    background-color: $secondary-action-color;
}

.quorum-button-secondary:hover {
    background-color: $secondary-action-highlight-color;
}

.quorum-button-tertiary {
    background-color: #FFEEBC;
}

.quorum-button-tertiary:hover {
    background-color: $tertiary-action-highlight-color;
}

.quorum-button-disabled {
    background-color: #2E2E2E;
}

.quorum-button-disabled:hover {
    background-color: #2E2E2E;
} */

.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.titlebar {
  -webkit-app-region: drag;
}

.titlebar button {
  -webkit-app-region: no-drag;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.quorum-tooltip {
  background-color: #0e0e0e;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 8px;
  margin-left: 11px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  z-index: 2000;
}

.quorum-tooltip-arrow-none {
  margin-right: 11px;
  margin-bottom: 11px;
}

.quorum-tooltip-arrow-left::before {
  content: '';
  border-style: solid;
  border-width: 8px 11px 8px 0;
  border-color: transparent #0e0e0e transparent transparent;
  position: absolute;
  left: 0px;
  top: 11px;
}

.quorum-tooltip-arrow-left.absolute::before {
  left: -10px;
}

.quorum-tooltip-arrow-right::after {
  content: '';
  border-style: solid;
  border-width: 8px 0px 8px 11px;
  border-color: transparent transparent transparent #0e0e0e;
  position: absolute;
  right: -11px;
  top: 11px;
}

.quorum-tooltip-arrow-up::before {
  content: '';
  border-style: solid;
  border-width: 0px 8px 11px 8px;
  border-color: transparent transparent #0e0e0e transparent;
  position: absolute;
  left: calc(50% - 8px);
  top: -11px;
}

.quorum-tooltip-arrow-down::after {
  content: '';
  border-style: solid;
  border-width: 11px 8px 0px 8px;
  border-color: #0e0e0e transparent transparent transparent;
  position: absolute;
  right: calc(50% - 8px);
  bottom: -11px;
}

.quorum-tooltip-invisible {
  display: none;
}

.small-caps {
  font-variant-caps: all-small-caps;
  font-weight: 700;
  font-size: 1.2rem;
}

.invisible-dismissal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.invisible-dismissal-no-blur {
  backdrop-filter: none !important;
}

.invisible-dark {
  background-color: rgba(0, 0, 0, 0.6);
}
