@keyframes flash-highlight {
  0% {
    background-color: rgb(var(--warning) / 0.2);
  }
  30% {
    background-color: rgb(var(--warning) / 0.2); /* stay solid */
  }
  100% {
    background-color: transparent;
  }
}

.message-highlighted {
  animation: flash-highlight 6s ease-out;
}
