@use '../../styles/variables' as *;

.container-unit {
  position: fixed;
  width: calc(100vw - 72px);
  height: calc(100vh - 14px);
  left: 72px;
  top: $s-3-5;
  border-top-left-radius: $rounded-xl;
  background-color: var(--color-bg-sidebar);

  @supports (height: 100dvh) {
    height: calc(100dvh - 14px);
  }

  // Mobile optimization - full width for chat content
  @media (max-width: 1023px) {
    width: calc(100vw - 74px);
    left: 74px;
  }

  // Phone-specific optimization for smaller NavMenu
  @media (max-width: $screen-xs) {
    width: calc(100vw - 50px);
    left: 50px;
  }
}
